[Desktop Entry]
# Creative Commons CC0 1.0 Universal (CC0-1.0, Public Domain Dedication).
Name=SmuView
GenericName=A sigrok GUI for power supplies, loads and measurement devices
Categories=Development;Electronics;
Comment=SmuView is a Qt based source measure unit GUI for sigrok.
Exec=smuview
Icon=smuview
Type=Application
